{{ define "title"}}About - GoNAS{{ end }}

{{ define "content"}}
<p>
    <span style="font-size: xx-large;">G</span>oNas is a lightweight, secure and easy-to-use Network Attached Storage
    (NAS)
    solution built with Go.
    Designed for personal use and small office use, GoNAS enables you to store, manage, and access your files seamlessly
    over your local network.
    <br><br>
    It has a simple web interface, user authentication and file management features. Like upload, download and delete.
</p>
{{ end }}