{{ define "title" }}Files - GoNAS{{ end }}

{{ define "content" }}

{{if .Files}}
{{range .Files}}
<div id="file" class="card file-folder">
    <div id="file-information" class="file-folder-info">
        {{.Name}}
    </div>
    <div id="button-container" class="button-container">
        <a href="/download?filename={{.Path}}" class="file-button download-button">Download</a>
        <button class="file-button delete-button" data-name="{{.}}">Delete</button>
    </div>
</div>
{{end}}
{{else}}
<div class="centered">
    <p class="no-file-found">No files found.</p>
</div>
{{end}}

{{if .Folders}}
{{range .Folders}}
<a href="/list?directory={{.Path}}" class="card file-folder">
    <div id="folder-information" class="file-folder-info">
        {{.}}
    </div>
    <div id="button-container" class="button-container">
        <button class="file-button download-button" data-name="{{.}}">Download</button>
        <button class="file-button delete-button" data-name="{{.}}">Delete</button>
    </div>
</a>
{{end}}
{{else}}
<div class="centered">
    <p class="no-file-found">No folders found.</p>
</div>
{{end}}

{{ end }}