{{ define "title" }}Files - GoNAS{{ end }}

{{ define "content" }}

{{if .Files}}
{{range .Files}}
<div id="file" class="card file-folder">
    <div id="file-information" class="file-folder-info">
        {{.}}
    </div>
    <div id="button-container" class="button-container">
        <button class="file-button" id="downloadButton" data-filename="{{.}}">Download</button>
        <button class="file-button delete-button" id="deleteButton" data-filename="{{.}}">Delete</button>
    </div>
</div>
{{end}}
{{else}}
<p>No files found.</p>
{{end}}

{{if .Folders}}
{{range .Folders}}
<div id="folder" class="card file-folder">
    <div id="folder-information" class="file-folder-info">
        {{.}}
    </div>
    <div id="button-container" class="button-container">
        <button class="file-button" id="downloadButton" data-filename="{{.}}">Download</button>
        <button class="file-button delete-button" id="deleteButton" data-filename="{{.}}">Delete</button>
    </div>
</div>
{{end}}
{{else}}
<p>No folders found.</p>
{{end}}

{{ end }}