{{ define "title" }}Files - GoNAS{{ end }}

{{ define "content" }}

{{if .Files}}
{{range .Files}}
<div id="file" class="card file-folder">
    <div id="file-information" class="file-folder-info">
        {{.Name}}
    </div>
    <div id="button-container" class="button-container centered">
        <a href="/download?path={{.Path}}" class="file-button download-button">Download</a>
        <a href="/delete?path={{.Path}}" class="file-button delete-button">Delete</a>
    </div>
</div>
{{end}}
{{else}}
<div class="centered">
    <p class="no-file-found">No files found.</p>
</div>
{{end}}

{{if .Folders}}
{{range .Folders}}
<div id="folder" class="centered card file-folder">
    <a href="/list?directory={{.Path}}" class="folder-path">
        <div id="folder-information" class="file-folder-info">
            {{.Name}}
        </div>
    </a>
    <div id="button-container" class="button-container centered">
        <a href="/download?path={{.Path}}" class="file-button download-button">Download</a>
        <a href="/delete?path={{.Path}}" class="file-button delete-button">Delete</a>
    </div>
</div>
{{end}}
{{else}}
<div class="centered">
    <p class="no-file-found">No folders found.</p>
</div>
{{end}}

{{ end }}